.about-program {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 96px;
  background-image: url("../img/about-program-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: right 0 bottom 8px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-program-bg-desktop@2x.png");
  }
}

.about-program__text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about-program__video-preview {
  position: relative;
}

.about-program__button {
  background-color: transparent;
  position: absolute;
  right: 50%;
  margin-right: -55px;
  top: 50%;
  margin-top: -58px;
}

@media (max-width: $mobile-width) {
  .about-program {
    width: 100vw;
    border: 1px solid red;
    background-image: url("../img/about-program-bg-mobile@1x.png");
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-program-bg-mobile@2x.png");
    }
  }
  .about-program__text {
    width: 100%;
  }
  .about-program__video-preview img {
    width: 100%;
  }
  .about-program__button {
    left: 50%;
  }
}
