.btn--yellow {
  background-image: $yellow-gradient;
  color: $white;
  &:hover,
  &:focus {
    background-image: $yellow-gradient-hover;
    cursor: pointer;
  }
  &:active {
    outline: none;
    background: $shadow-btn-click;
  }
}

.btn--up {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 30px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  border: 3px solid $heading-color;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  color: $heading-color;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn--up:focus,
.btn--up:hover {
  opacity: 0.7;
}

.shown {
  display: inline-block;
}

@media (max-width: $tablet-width) {
  .btn--up {
    right: 20px;
    width: 55px;
    height: 55px;
    font-size: 24px;
  }
}

@media (max-width: $mobile-width) {
  .btn--up {
    bottom: 35px;
    right: 15px;
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}
