.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contacts__info {
  width: 343px;
  margin-right: 34px;
  text-align: left;
}

.contacts__title {
  margin-top: 19px;
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 150%;
  color: rgba($main-text-font, .87);
}

.contacts__text {
  font-size: 13px;
  line-height: 150%;
  color: rgba($main-text-font, .5);
}

.contacts-form__container {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contacts-form__container input {
  width: 250px;
  border: 2px solid #E3E3E3;
  border-radius: 80px;
  margin-right: 24px;
}

.contacts-form__container input[type="text"] {
  padding: 19px 40px 20px;
}

.contacts-form__container input[type="text"]::placeholder {
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba($main-text-font, .5);
}

.contacts-form__container input[type="tel"] {
  padding: 20px 40px 19px;
}

.contacts-form__container input[type="tel"]::placeholder {
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  color: rgba($main-text-font, .87);
}

.contacts-form__container input[type="text"]:focus,
.contacts-form__container input[type="text"]:hover,
.contacts-form__container input[type="tel"]:focus,
.contacts-form__container input[type="tel"]:hover {
  outline: none;
  border: 2px solid $yellow;
}

.contacts-form__container button[type="submit"] {
  padding: 19px 38px 20px;
  border-radius: 80px;
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  text-shadow: $shadow-text;
}

@media (max-width: $maket-width) {
  .contacts-form__container {
    justify-content: center;
  }
  .contacts-form__container input[type="text"],
  .contacts-form__container input[type="tel"] {
    margin-bottom: 15px;
  }
  .contacts-form__container button[type="submit"] {}
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    margin-top: 468px;
    flex-direction: column;
    margin-top: 0px;
    padding: 0 16px;
  }
  .contacts__info {
    text-align: center;
    width: 100%;
  }
  .contacts-form__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 22px;
  }
  .contacts__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 13px;
  }
  .contacts-form__container input[type="text"],
  .contacts-form__container input[type="tel"] {
    width: 283px;
    padding: 17px 40px;
    margin-bottom: 10px;
  }
  .contacts-form__container button[type="submit"] {
    width: 264px;
    margin-top: 15px;
    margin-left: -27px;
  }
}

@media (max-width: $mobile-width) {
  .contacts__info {
    text-align: left;
  }
}
