.curator {
  width: 484px;
  margin-top: 41px;
}

.curator__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.curator__photo {
  margin-right: 23px;
}

.curator__info {
  text-align: left;
}

.curator__name {
  display: flex;
  flex-direction: row;
}

.curator__your-curator {
  font-size: 15px;
  line-height: 150%;
  color: $heading-color;
}

.curator__your-curator-name {
  margin-left: 10px;
  font-size: 15px;
  line-height: 150%;
  color: rgba($main-text-font, .74);
}

.curator__address {
  width: 225px;
  font-size: 13px;
  line-height: 150%;
  color: rgba($main-text-font, .74);
}

.curator__social {
  width: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.curator__social-link {
  width: 32px;
  height: 26px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .16;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.curator__social-link--facebook {
  background-image: url("../img/soc-facebook.svg");
}

.curator__social-link--whatsapp {
  background-image: url("../img/soc-whatsapp.svg");
}

.curator__social-link--telegram {
  background-image: url("../img/soc-telegram.svg");
}

.curator__text {
  width: 478px;
  margin-top: 23px;
  margin-bottom: 115px;
  text-align: left;
}

.curator__text br {
  display: none;
}

@media (max-width: $mobile-width) {
  .curator {
    width: 100%;
    margin-top: 38px;
  }
  .curator__block {
    flex-direction: column;
    align-items: flex-start;
  }
  .curator__info {
    margin-top: 8px;
  }
  .curator__address {
    width: 100%;
  }
  .curator__text {
    width: 100%;
    margin-top: 31px;
    font-size: 16px;
    line-height: 26px;
  }
  .curator__text br {
    display: block;
  }
}
