.details {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 58px;
  background-image: url("../img/details-watercolor-bg-desktop@1x.png"), url("../img/details-map-and-marker-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1366px auto, 702px auto;
  background-position: center -89px, 48vw top;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/details-watercolor-bg-desktop@2x.png"), url("../img/details-map-and-marker-desktop@2x.png");
  }
}

.details__city {
  width: 265px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.details__your-city {
  font-size: 15px;
  line-height: 150%;
  opacity: 0.74;
  margin-left: 20px;
  ;
}

.details__your-city::before {
  content: "";
  position: absolute;
  background-image: url("../img/details-pin-desktop.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 18px;
  top: 0px;
  left: 3px;
}

.details__name-city {
  margin-left: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  font-variant: small-caps;
  color: rgba($main-text-font, .74);
  border-bottom: 1px dashed $heading-color;
}

.details__name-city::after {
  content: "";
  position: absolute;
  background-image: url("../img/details-gps-desktop@1x.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  top: 5px;
  right: 33px;
}

@media (max-width: $mobile-width) {
  .details {
    width: 100vw;
    padding: 45px 16px;
    padding-top: 0;
    background-image: none, url("../img/details-map-and-marker-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 633px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none, url("../img/details-map-and-marker-mobile@2x.png");
    }
  }
  .details__name-city::after {
    right: 29px;
  }
}
