.faq {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 107px;
  padding-bottom: 130px;
  background-image: url("../img/faq-img-desktop@1x.png"), url("../img/faq-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 645px auto, 1366px auto;
  background-position: 53vw 107px, center top 25px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/faq-img-desktop@2x.png"), url("../img/faq-bg-desktop@2x.png");
    ;
  }
}

.faq__list {
  width: 560px;
  list-style: none;
  counter-reset: number;
  position: relative;
  text-align: left;
  padding-left: 0;
  &::after {
    content: "";
    background-image: url("../img/faq-bag-desktop@1x.png");
    background-size: 153px auto;
    position: absolute;
    left: -111px;
    bottom: -115px;
    width: 153px;
    height: 177px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      content: "";
      background-image: url("../img/faq-bag-desktop@2x.png");
      background-size: 153px auto;
    }
  }
}

.faq__item {
  padding-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba($main-text-font, .2);
}

.faq__question {
  position: relative;
  width: 383px;
  line-height: 25px;
  margin-left: 30px;
  cursor: pointer;
  &::before {
    counter-increment: number;
    content: counter(number)" ";
    position: absolute;
    left: -30px;
    font-weight: bold;
    font-size: 28px;
    color: $yellow;
  }
  &::after {
    content: "";
    background-image: url("../img/faq-down.svg");
    background-size: 17px auto;
    position: absolute;
    right: -110px;
    top: 7px;
    width: 17px;
    height: 11px;
  }
}

.faq__answer {
  display: none;
  width: 480px;
  margin-top: 27px;
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.74;
}

.faq__item--active .faq__answer {
  display: block;
}

.faq__item--active .faq__question {
  &::after {
    content: "";
    background-image: url("../img/faq-up.svg");
    background-size: 17px auto;
    position: absolute;
    right: -110px;
    top: 7px;
    width: 17px;
    height: 11px;
  }
}

@media (max-width: $tablet-width) {
  .faq {
    padding-top: 48px;
    padding-bottom: 63px;
    background-image: none;
  }
  .faq__list {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    &::after {
      content: "";
      background-image: url("../img/faq-bag-mobile@1x.png");
      background-size: 146px auto;
      position: absolute;
      left: -1px;
      bottom: 62px;
      width: 146px;
      height: 177px;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        content: "";
        background-image: url("../img/faq-bag-mobile@2x.png");
        background-size: 153px auto;
      }
    }
  }
  .faq__item {
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 14px;
  }
  .faq__item:first-child {
    padding-top: 22px;
  }
  .faq__item:nth-child(2) {
    padding-bottom: 23px;
  }
  .faq__item:nth-child(4) {
    padding-bottom: 23px;
  }
  .faq__item:last-child {
    padding-bottom: 16px;
  }
  .faq__question {
    width: 92%;
    margin: 0;
    margin-left: 25px;
    font-size: 16px;
    line-height: 26px;
    &::after {
      top: 8px;
      right: -26px;
    }
    &::before {
      top: -2px;
      left: -25px;
    }
  }
  .faq__item--active .faq__question {
    &::after {
      top: 8px;
      right: -24px;
    }
  }
  .faq__answer {
    width: 103%;
    font-size: 14px;
    line-height: 160%;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
  }
}
