.how-to-go {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 124px;
  padding-bottom: 160px;
  background-image: url("../img/how-to-go-watercolor-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1366px auto;
  background-position: center -110px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/how-to-go-watercolor-bg-desktop@2x.png");
  }
}

.how-to-go__wrapper {
  position: relative;
  width: 550px;
  margin-left: 590px;
  text-align: left;
}

.how-to-go__block {
  &::before {
    content: "";
    background-image: url("../img/how-to-go-img-desktop@1x.png");
    background-size: 581px auto;
    position: absolute;
    left: -125%;
    top: -32px;
    width: 581px;
    height: 707px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      content: "";
      background-image: url("../img/how-to-go-img-desktop@2x.png");
      background-size: 581px auto;
    }
  }
  &::after {
    content: "";
    background-image: url("../img/stamp-desktop@1x.png");
    background-size: 216px auto;
    position: absolute;
    right: -43px;
    top: 157px;
    width: 216px;
    height: 254px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      content: "";
      background-image: url("../img/stamp-desktop@2x.png");
      background-size: 216px auto;
    }
  }
}

.how-to-go__info {
  width: 480px;
  font-size: 15px;
  line-height: 26px;
  opacity: 0.87;
  margin-bottom: 33px;
}

.how-to-go__text {
  width: 463px;
  font-weight: 500;
  margin-bottom: 24px;
}

.how-to-go__pay {
  font-size: 15px;
  line-height: 140%;
  color: rgba($main-text-font, .5);
  padding-left: 10px;
  border-left: 4px solid $yellow;
}

.how-to-go__list {
  position: relative;
  list-style: none;
  counter-reset: number;
}

.how-to-go__item {
  width: 418px;
  margin-top: 35px;
  margin-bottom: 46px;
  margin-left: 2px;
  font-size: 15px;
  line-height: 140%;
  color: rgba($main-text-font, .87);
  &::before {
    counter-increment: number;
    content: counter(number)" ";
    position: absolute;
    left: -17px;
    z-index: 3;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: $shadow-babl;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 36px;
    color: $yellow;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 1px;
    height: 80%;
    background-image: repeating-linear-gradient(to bottom, $white, $white 5px, $main-text-font 5px, $main-text-font 10px);
    opacity: 0.1;
  }
}

@media (max-width: $mobile-width) {
  .how-to-go {
    width: 100vw;
    padding-top: 63px;
    padding-bottom: 33px;
    background-image: none;
  }
  .how-to-go__wrapper {
    width: 100%;
    margin-left: 0px;
    text-align: left;
  }
  .how-to-go__block {
    &::before {
      display: none;
    }
    &::after {
      content: "";
      background-image: url("../img/stamp-mobile@1x.png");
      background-size: 216px auto;
      background-repeat: no-repeat;
      position: absolute;
      right: 0vw;
      top: 274px;
      width: 216px;
      height: 254px;
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        content: "";
        background-image: url("../img/stamp-mobile@2x.png");
        background-size: 216px auto;
      }
    }
  }
  .how-to-go__info {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
    margin-top: 25px;
    margin-bottom: 22px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .how-to-go__text {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .how-to-go__list {
    padding-left: 57px;
    padding-right: 16px;
    margin-top: 0px;
  }
  .how-to-go__item {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    margin-top: 31px;
    margin-bottom: 41px;
    &::before {
      left: 9px;
    }
    &::after {
      left: 24px;
    }
  }
  .how-to-go__item:first-child {
    margin-bottom: 60px;
  }
  .how-to-go__item:nth-child(2) {
    margin-bottom: 38px;
  }
  .how-to-go__item:nth-child(3) {
    margin-bottom: 25px;
  }
  .how-to-go__item:last-child {
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .how-to-go__pay {
    margin-left: 10px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 22px;
  }
}
