.life-in-israel {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 50px;
  background-image: url("../img/life-in-israel-watercolor-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1366px auto;
  background-position: center bottom 31px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/life-in-israel-watercolor-bg-desktop@2x.png");
  }
}

.life-in-israel__info {
  width: 720px;
  margin: 0 auto;
}

@media (max-width: $mobile-width) {
  .life-in-israel {
    max-width: 100vw;
    background-image: none;
    padding-left: 16px;
    padding-right: 16px;
  }
  .life-in-israel__info {
    width: 100%;
    margin-top: 24px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: rgba($main-text-font, .87);
  }
}
