.masaisrael {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 68px;
  padding-bottom: 30px;
  background-image: url("../img/masaisrael-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1361px auto;
  background-position: center top 65px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/masaisrael-bg-desktop@1x.png");
  }
}

.masaisrael__wrapper {
  margin-left: 51%;
  padding-bottom: 194px;
  text-align: left;
}

.masaisrael__link a {
  width: 230px;
  position: relative;
  display: inline-block;
  padding: 19px 36px 20px;
  padding-left: 72px;
  border-radius: 80px;
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  color: $white;
  text-shadow: $shadow-text;
}

.masaisrael__link a::before {
  content: "";
  position: absolute;
  background-image: url("../img/soc-insta-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 18px;
}

.masaisrael__info {
  width: 387px;
  margin-bottom: 47px;
  text-align: left;
  line-height: 29px;
  color: rgba($white, .87);
  text-shadow: $shadow-text;
}

.masaisrael__info br {
  display: none;
}

@media (max-width: $tablet-width) {
  .masaisrael {
    background-size: 100% auto;
  }
}

@media (max-width: $mobile-width) {
  .masaisrael {
    padding-top: 30px;
    background-image: url("../img/masaisrael-bg-mobile@1x.png");
    background-size: 100% auto;
    background-position: center bottom 60%;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/masaisrael-bg-mobile@2x.png");
    }
  }
  .masaisrael__wrapper {
    margin-left: 5px;
    padding-bottom: 0;
  }
  .masaisrael__info {
    width: 87%;
    margin-top: 96px;
    margin-bottom: 58px;
    margin-left: 18px;
    margin-right: 23px;
    font-size: 16px;
    line-height: 26px;
  }
  .masaisrael__info br {
    display: block;
  }
  .masaisrael__link {
    margin: 0 auto;
    text-align: center;
  }
  .masaisrael__link a {
    width: 264px;
    padding: 19px 36px 19px;
    padding-left: 65px;
  }
  .masaisrael__link a::before {
    left: 53px;
  }
}
