// .modal {
//   position: fixed;
// }

// .modal--show {
//   display: block;
// }

.modal-container--request-call {
  width: 420px;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 56px;
  padding-bottom: 40px;
}

.modal-container h3 {
  @include third-level-headings ();
}

.modal-container--request-call h3,
.modal-container--request-call p {
  text-align: left;
}

.modal-container--request-call p {
  width: 358px;
  font-size: 15px;
  color: rgba($main-text-font, .87);
}

.modal-container--accepted {
  padding-top: 216px;
  padding-bottom: 112px;
}

.modal-container--accepted h3 {
  margin-bottom: 16px;
}

.modal-container--accepted h3::before {
  content: "";
  position: absolute;
  width: 71px;
  height: 64px;
  background-image: url("../img/ok-checkmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  top: 157px;
  left: 205px;
}

.modal-container--accepted p {
  width: 360px;
  margin: 0 auto;
  font-size: 15px;
  color: rgba($main-text-font, .87);
  margin-bottom: 32px;
}


.modal-container--accepted button[type="submit"] {
  width: 264px;
  padding: 19px 40px 20px;
  text-align: center;
  border-radius: 80px;
  font-weight: 500;
  line-height: 20px;
  // font-variant: small-caps; НЕ РАБОТАЕТ!
  text-transform: uppercase;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

/* кнопка закрытия модальных окон */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 22px;
  height: 22px;

  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

/* "крестик" на кнопке закрытия */
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 27px;
  left: -15px;

  width: 27px;
  height: 2px;

  background: $yellow-gradient;

}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
