.page-footer {
  width: 100%;
  flex: 0 0 auto;
  border-top: 1px solid rgba($main-text-font, .2);
}

.page-footer__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 12px;
  padding-right: 17px;
  padding: 24px 0px;
}

.page-footer__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer__logo {
  margin-left: 10px;
}

.page-footer__copyright {
  margin-top: 6px;
  margin-left: 37px;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: rgba($main-text-font, .5);
}

.page-footer__social {
  width: 137px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.page-footer__social-link {
  width: 24px;
  height: 24px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .16;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.page-footer__social-link--facebook {
  background-image: url("../img/soc-facebook.svg");
}

.page-footer__social-link--twitter {
  background-image: url("../img/soc-twitter.svg");
}

.page-footer__social-link--instagram {
  background-image: url("../img/soc-insta.svg");
}

@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    padding: 33px 0;
  }
  .page-footer__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .page-footer__logo {
    margin-left: 0;
  }
  .page-footer__copyright {
    margin-left: 0;
    margin-top: 13px;
    margin-bottom: 29px;
  }
  .page-footer__social {
    width: 160px;
  }
  .page-footer__social-link {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
}
