.page-header {
  width: 100%;
  background-image: url("../img/header-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 1366px auto;
  background-position: center top;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.png");
  }
}

.page-header__top {
  width: 100%;
  padding-top: 32px;
}

.page-header__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 17px;
}

.page-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__logo {
  margin-left: -7px;
}

.page-header__phone,
.page-header__call {
  align-self: flex-start;
}

.page-header__phone:focus,
.page-header__phone:hover,
.page-header__call:focus,
.page-header__call:hover {
  transform: scale(1.2);
}

.page-header__phone {
  margin-top: 16px;
  margin-left: 0px;
}

.page-header__call {
  margin-top: 14px;
  cursor: pointer;
}

.page-header__phone,
.page-header__call span {
  font-family: $font-fira;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  color: $main-text-font;
}

.page-header__call span {
  font-variant: small-caps;
}

.page-header__call {
  background-color: transparent;
  border-bottom: 1px dashed $main-text-font;
}

.page-header__middle {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.page-header__title {
  width: 343px;
  margin: 0 auto;
  margin-top: 450px;
  font-family: $font-fira;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 500;
  text-shadow: $shadow-text;
  color: $white;
}

.page-header__scroll {
  display: inline-block;
  width: 76px;
  height: 132px;
  margin-top: 31px;
  background-image: url("../img/scroll-down.svg");
  background-size: 76px 132px;
  background-position: center bottom;
}

.page-header__scroll:focus,
.page-header__scroll:hover {
  transform: scale(1.5);
}

@media (max-width: $tablet-width) {
  .page-header {
    background-size: cover;
  }
  .page-header__top {
    padding-top: 15px;
  }
  .page-header__title {
    max-width: 288px;
    margin-top: 30%;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    background-image: url("../img/header-bg-mobile@1x.png");
    background-size: 100% auto;
    background-position: center top 31px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.png");
    }
  }
  .page-header__top {
    padding-top: 0px;
  }
  .page-header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px 8px;
  }
  .page-header__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .page-header__logo {
    margin-top: -17px;
    margin-left: 8px;
    align-self: flex-start;
  }
  .page-header__phone,
  .page-header__call {
    align-self: flex-end;
  }
  .page-header__phone {
    margin-top: 20px;
  }
  .page-header__call {
    margin-top: -29px;
    padding: 0;
  }
  .page-header__phone,
  .page-header__call span {
    font-size: 14px;
    line-height: 17px;
  }
  .page-header__middle {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-header__title {
    max-width: 288px;
    // margin-top: 271px;
    margin-top: 85%;
  }
}
