.page-header {
  width: 100%;
  // padding-bottom: 10px;
  background-image: url("../img/header-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: center top;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.png");
  }
}

.page-header__top {
  padding-top: 32px;
}

.page-header__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 17px;
}

.page-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__phone,
.page-header__call {
  align-self: flex-start;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  color: $main-text-font;
}

.page-header__call {
  background-color: transparent;
  text-transform: uppercase;
  // font-variant: small-caps;
  border-bottom: 1px dashed $main-text-font;
}

.page-header__middle {
  border: 1px solid transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.page-header__title {
  width: 343px;
  margin: 0 auto;
  margin-top: 450px;

  font-family: $font-fira;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 500;

  text-shadow: $shadow-text;
  color: $white;
}

@media (max-width: $mobile-width) {
  .page-header {
    width: 100vw;
    border: 1px solid red;
    background-image: url("../img/header-bg-mobile@1x.png");
    background-size: 100vw auto;
    background-position: center top;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-mobile@2x.png");
    }
  }

  .page-header__top {
    padding-top: 20px;
  }

  .page-header__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px 16px;
  }

  .page-header__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-header__logo {
    order: -1;
  }

  .page-header__title {
    width: 288px;
    margin-top: 300px;

    font-family: $font-fira;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;

    text-shadow: $shadow-text;
    color: $white;
  }
}
