.programs {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 30px;
  background-image: url("../img/programs-sketch-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 680px auto;
  background-position: right bottom 145px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/programs-sketch-bg-desktop@2x.png);
  }
}

.programs__list {
  list-style: none;
  // position: relative;
  width: 228px;
  padding: 0;
  margin-top: 63px;
  margin-left: 100px;
  background-color: $white;
}

.programs__item {
  width: 195px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.programs__item--general input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 19px;
  width: 36px;
  height: 36px;
  background-image: url(../img/programs-culture.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__item--general input[type="radio"]+label:hover::before,
.programs__item--general input[type="radio"]+label:focus::before {
  background-image: url(../img/programs-culture-hover.svg);
}

.programs__item--general input[type="radio"]:checked+label::before {
  background-image: url(../img/programs-culture-active.svg);
}

.programs__item--academic input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 16px;
  width: 36px;
  height: 36px;
  background-image: url(../img/programs-academic.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__item--academic input[type="radio"]+label:hover::before,
.programs__item--academic input[type="radio"]+label:focus::before {
  background-image: url(../img/programs-academic-hover.svg);
}

.programs__item--academic input[type="radio"]:checked+label::before {
  background-image: url(../img/programs-academic-active.svg);
}

.programs__item--internships input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 19px;
  width: 36px;
  height: 36px;
  background-image: url(../img/programs-business.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__item--internships input[type="radio"]+label:hover::before,
.programs__item--internships input[type="radio"]+label:focus::before {
  background-image: url(../img/programs-business-hover.svg);
}

.programs__item--internships input[type="radio"]:checked+label::before {
  background-image: url(../img/programs-business-active.svg);
}

.programs__item--volunteering input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 18px;
  width: 36px;
  height: 36px;
  background-image: url(../img/programs-volonteur.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__item--volunteering input[type="radio"]+label:hover::before,
.programs__item--volunteering input[type="radio"]+label:focus::before {
  background-image: url(../img/programs-volonteur-hover.svg);
}

.programs__item--volunteering input[type="radio"]:checked+label::before {
  background-image: url(../img/programs-volonteur-active.svg);
}

.programs__item--religion input[type="radio"]+label::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 20px;
  width: 36px;
  height: 36px;
  background-image: url(../img/programs-religion.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.programs__item--religion input[type="radio"]+label:hover::before,
.programs__item--religion input[type="radio"]+label:focus::before {
  background-image: url(../img/programs-religion-hover.svg);
}

.programs__item--religion input[type="radio"]:checked+label::before {
  background-image: url(../img/programs-religion-active.svg);
}

//span
.programs__item label {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.87;
  text-align: left;
  padding: 28px 40px 27px 70px;
  margin: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $yellow;
    // background: $yellow-gradient;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}

.programs__item input[type="radio"]:checked+label {
  background-image: $yellow-gradient;
  color: $white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-variant: small-caps;
  text-shadow: $shadow-text;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -72px;
    width: 0;
    height: 0;
    border: 36px solid $white;
    border-left-color: #FFD701;
  }
}

.programs__icon {
  margin-top: 20px;
  margin-left: 20px;
}

.programs__item--general input[type="radio"]:checked~.programs-block--general,
.programs__item--academic input[type="radio"]:checked~.programs-block--academic,
.programs__item--internships input[type="radio"]:checked~.programs-block--internships,
.programs__item--volunteering input[type="radio"]:checked~.programs-block--volunteering,
.programs__item--religion input[type="radio"]:checked~.programs-block--religion {
  display: block;
}

.programs-block {
  display: none;
  position: relative;
  left: 98px;
}

.programs-block div {
  position: absolute;
}

.programs-block--academic div {
  top: -70px;
}

.programs-block--internships div {
  top: -140px;
}

.programs-block--volunteering div {
  top: -210px;
}

.programs-block--religion div {
  top: -280px;
}

.programs-block__title {
  @include third-level-headings();
  text-align: left;
  margin-top: 18px;
  margin-bottom: 24px;
}

.programs-block__info {
  width: 560px;
  text-align: left;
  font-size: 15px;
  color: rgba($main-text-font, .87);
}

.programs-block__info--one {
  margin-top: 8px;
}

@media (max-width: $mobile-width) {
  .programs {
    width: 100vw;
    padding-top: 0;
    border: 1px solid red;
  }
  .programs__block-container {
    display: flex;
    flex-direction: column;
  }
  .programs__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .programs__item {
    width: 181px;
    flex-direction: column;
  }
  .programs__item--active {
    border-radius: 60px;
  }
  .programs__item input[type="radio"]:checked+label {
    border-radius: 30px;
    &::after {
      display: none;
    }
  }
  .programs-block {
    left: 0px;
  }
  .programs-block div {
    width: 100vw;
    position: relative;
    top: 0px;
    left: -88px;
    border: 1px solid green;
  }
  .programs-block__title {
    @include third-level-headings-mobile();
  }
  .programs-block__info {
    width: 100%;
  }
}
