.reviews {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 100px;
  background-image: url("../img/reviews-sketch-bg-desktop@1x.png"), url("../img/reviews-watercolor-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 523px auto, contain;
  background-position: 62vw 54px, center 54px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/reviews-sketch-bg-desktop@2x.png"), url("../img/reviews-watercolor-bg-desktop@2x.png");
  }
}

.reviews__slider {
  position: relative;
}

.reviews__slider-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.reviews__author-photo {
  margin-top: -38px;
  margin-left: -12px;
  width: 364px;
  height: 480px;
}

.reviews__content {
  width: 683px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: left;
  margin-left: 40px;
}

.reviews__blockquote {
  margin: 0;
  flex-grow: 1;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: rgba($main-text-font, .74);
}

.reviews__author-info {
  margin-top: 6px;
}

.reviews__program {
  width: 84px;
  font-size: 15px;
  line-height: 140%;
  color: $heading-color;
}

.reviews__author-program {
  font-size: 15px;
  line-height: 140%;
  color: rgba($main-text-font, .74);
}

.reviews__text {
  max-width: 667px;
  color: rgba($main-text-font, .74);
}

.reviews__text--one {
  margin-top: 29px;
}

.reviews__text--two {
  margin-top: 21px;
  margin-bottom: 19px;
}

.reviews__link {
  text-decoration: underline;
  line-height: 150%;
  color: $heading-color;
}

.reviews__nav {
  position: absolute;
  width: 96px;
  bottom: 8px;
  left: 394px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 25;
}

.reviews__counter {
  line-height: 150%;
  opacity: 0.5;
  order: 2;
  padding-top: 5px;
}

.reviews__buttons {
  position: relative;
}

.reviews__button {
  position: absolute;
  background-color: transparent;
  width: 8px;
  height: 15px;
  cursor: pointer;
}

.reviews__button--prev {
  top: 7px;
  left: 54px;
}

.reviews__button--prev::before {
  content: "";
  position: absolute;
  cursor: pointer;
  background-image: url('../img/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 18px;
  top: 0px;
  left: 0px;
}

.reviews__button--next {
  top: 7px;
  left: 81px;
}

.reviews__button--next::after {
  content: "";
  position: absolute;
  cursor: pointer;
  background-image: url('../img/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 18px;
  top: 0px;
  left: 1px;
}

.reviews__social {
  width: 105px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.reviews__social-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0;
  opacity: 0.16;
  text-align: center;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.reviews__social-link--twitter img {
  margin-top: 3px;
}

@media (max-width: $maket-width) {
  .reviews__author-photo {
    margin-top: 0px;
    margin-left: 10px;
    width: 240px;
    height: 320px;
  }
  .reviews__content {
    width: 65%;
    margin-left: 45px;
  }
  .reviews__nav {
    bottom: 12px;
    left: 290px;
  }
  .reviews__social {
    margin-top: 30px;
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    padding-bottom: 65px;
    background-image: url("../img/reviews-sketch-bg-mobile@1x.png"), none;
    background-repeat: no-repeat;
    background-size: 288px auto;
    background-position: 90% 523px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/reviews-sketch-bg-mobile@2x.png"), none;
    }
  }
  .reviews__nav {
    position: relative;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    top: 352px;
  }
  .reviews__counter {
    order: 1;
  }
  .reviews__button--prev {
    top: 4px;
    left: 62px;
  }
  .reviews__button--next {
    top: 4px;
    left: 82px;
  }
  .reviews__slider-item {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
  }
  .reviews__content {
    width: 100%;
    margin-left: 0;
    padding-top: 48px;
    justify-content: flex-start;
  }
  .reviews__author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .reviews__author-photo {
    width: 240px;
    height: 320px;
    margin-top: -2px;
    margin-left: 0;
  }
  .reviews__text {
    width: 100%;
    font-size: 16px;
    line-height: 160%;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
  }
  .reviews__text--two {
    margin-top: 17px;
    margin-bottom: 22px;
  }
  .reviews__link {
    font-size: 16px;
    line-height: 24px;
  }
  .reviews__social {
    width: 115px;
    margin-left: -10px;
    margin-top: 20px;
    justify-content: space-between;
  }
}
