.section-title {
  @include second-level-headings();
  margin: 0;
}

.section-title--about-program {
  margin-bottom: 24px;
}

.section-title--programs {
  text-align: left;
  margin-left: 100px;
}

.section-title--want-to-go {
  text-align: left;
  margin-left: 100px;
}

.section-title--how-to-go {
  text-align: left;
  margin-bottom: 24px;
}

.section-title--life-in-israel {
  margin-bottom: 25px;
}

.section-title--life-in-israel br {
  display: none;
}

.section-title--masaisrael {
  margin-top: 115px;
  margin-bottom: 24px;
  text-align: left;
}

.section-title--faq {
  text-align: left;
}

.section-title--reviews {
  margin-bottom: 47px;
}

.section-title--details {
  text-align: left;
  margin-bottom: 49px;
}

@media (max-width: $mobile-width) {
  .section-title {
    @include second-level-headings-mobile();
    margin: 0;
  }
  .section-title--about-program {
    margin-bottom: 24px;
  }
  .section-title--life-in-israel br {
    display: block;
  }
  .section-title--masaisrael {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
  }
  .section-title--details {
    margin-bottom: 25px;
  }
}
