.slider__list {
  width: 692px;
  margin-top: 47px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 452px;
  &::after {
    content: "";
    background-image: url("../img/watch-desktop@1x.png");
    background-size: 90px auto;
    position: absolute;
    right: 0px;
    bottom: 112px;
    width: 90px;
    height: 148px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      content: "";
      background-image: url("../img/watch-desktop@2x.png");
      background-size: 90px auto;
    }
  }
}

.slider__item {
  margin-bottom: 21px;
  position: relative;
}

.slider__big-image {
  width: 482px;
  position: absolute;
  right: 667px;
  top: -36px;
  margin-top: -30px;
}

.slider__text {
  position: absolute;
  bottom: 41px;
  font-family: $font-raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 25px;
  color: $white;
  text-shadow: $shadow-text;
  text-align: left;
}

.slider__text--one {
  width: 320px;
  left: 38px;
}

.slider__text--two {
  width: 120px;
  left: 23px;
}

.slider__text--three {
  width: 300px;
  left: 30px;
}

.slider__text--four {
  width: 363px;
  left: 30px;
}

.slider__text--five {
  width: 120px;
  left: 27px;
}

.slider__toggles {
  display: none;
}

@media (max-width: $tablet-width) {
  .slider__list {
    width: 50%;
    margin-left: 350px;
  }
  .slider__item img {
    width: 75%;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    overflow: hidden;
  }
  .slider__list {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    margin-top: 24px;
    margin-bottom: -15px;
    &::after {
      display: none;
    }
  }
  .slider__big-image {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 0;
  }
  .slider__items {
    width: 100%;
    display: none;
  }
  .slider__item img {
    width: 90vw;
    height: auto;
    margin-right: 29px;
  }
  .slider__text {
    width: 256px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    bottom: 34px;
    left: 50%;
    margin-left: -128px;
  }
  .slider__toggles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67px;
    margin: 0 auto;
  }
  .slider__toggle {
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba($main-text-font, .2);
  }
  .slider__toggle:not(:last-child) {
    margin-right: 8px;
  }
  .slider__toggle--active {
    width: 8px;
    height: 8px;
    background-image: $yellow-gradient;
  }
}
