.want-to-go {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 260px;
  background-image: url("../img/girl-flag-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 818px auto;
  background-position: 40vw top;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl-flag-bg-desktop@2x.png");
  }
}

.want-to-go__info {
  width: 375px;
  text-align: left;
  opacity: 0.87;
}

.want-to-go__form {
  text-align: left;
}

.want-to-go__form-container {
  position: relative;
}

.want-to-go__form-container input[type="tel"] {
  position: absolute;
  padding: 19px 40px 20px;
  width: 477px;
  border: 1px solid transparent;
  border: 2px solid #E3E3E3;
  border-radius: 80px;
}

.want-to-go__form-container input[type="tel"]::placeholder {
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: $main-text-font;
  opacity: 0.5;
  font-weight: 500;
}

.want-to-go__form-container button[type="submit"] {
  width: 219px;
  padding: 19px 40px 20px;
  position: absolute;
  border-radius: 80px;
  left: 261px;
  z-index: 1;
  font-weight: 500;
  line-height: 20px;
  font-variant: small-caps;
  text-shadow: $shadow-text;
}

@media (max-width: $mobile-width) {
.want-to-go {
  width: 100vw;
  border: 1px solid red;
  background-image: url("../img/girl-flag-bg-mobile@1x.png");
  background-size: 320px auto;
  background-position: center 350px;


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl-flag-bg-mobile@2x.png");
  }
}

.want-to-go__form-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.want-to-go__info {
  width: 100%;
}

.want-to-go__form-container input[type="tel"] {
  position: relative;
  width: 287px;
  margin-bottom: 8px;
 }

 .want-to-go__form-container button[type="submit"] {
   width: 264px;
   position: relative;
   left: 0;
 }
}
